.card{
    /* padding: 10px 0; */
    height: 100%;
}

.card img{
    width: 100%;
}

.details .form_input_name{
    width: 100%;
    text-align: center;
    height: 50px;
    font-size: 1.5em;
}

.details .card {
    margin: 15px 0;
}

.user_img_card{
    max-width: 250px;
    margin: 0 auto;
}

.user_img_card input[type=file]{
    margin: 10px 0;
}